.page-header {
    background-color: #E0EEEE;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: "Times New Roman", Times, serif;

}
.page-header h1 a{
  text-decoration: none;
}

.page-right {
  text-decoration: none;
  float: right;
  font-size: 20pt;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
}

.page-body {
  background-color: #F0FFFF;
}

.imagem img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}
